
.header {
    background-color: #314351;
}

.center {
    margin: 0 auto;
}

@media (min-width: 768px){
    .center {
        width: 75%;
    }
}

.aligned-center {
    text-align: center;
}

.aligned-left {
    text-align: left;
    margin-left: 12px;
    margin-right: 12px;
}

.spacer {
    margin-top: 36px;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 36px;
}

.separator {
    margin-top: 36px;
    margin-bottom: 36px;
}
